<!-- TODO: Add validations -->
<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
        <label>First Name</label>
        <input ng-model="vm.user.first">
    </md-input-container>
    <md-input-container>
        <label>Last Name</label>
        <input ng-model="vm.user.last">
    </md-input-container>
    <md-input-container>
        <label>Last 4 Digits of SSN</label>
        <input ng-model="vm.user.SSN">
    </md-input-container>
</md-content>
<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div class="table-responsive-vertical">
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Service Needed</th>
            <th>Progress</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.tableData track by $index">
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="Issue">{{data.issue}}</td>
            <td data-title="Status">{{data.status}}</td>
            <td data-title="Progress">
                <md-progress-linear class="table-progress {{data.class}}"
                                    md-mode="determinate"
                                    value={{data.progress}}>
                </md-progress-linear>
            </td>
        </tr>
        </tbody>
    </table>
</div>

